.cart-modal {
    justify-content: center;
    max-width: 600px; /* Adjust the width as needed */
    margin: auto;
}

.cart-modal-header {
    background-color: #f8f9fa; /* Light background for the header */
    border-bottom: 2px solid #dee2e6; /* Thicker border */
}


.cart-table {
    margin-top: 10px; /* Space above the table */
    
}

.cart-product-image {
    width: 50px; /* Size of product image */
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}



h5 {
    font-weight: bold;
    color: #333; /* Total amount color */    
}

th, td{
    text-align: left;
}