.pcontainer {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.checkout-progress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step {
    flex: 1;
    padding: 10px;
    background-color: #e0e0e0;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.step.active {
    background-color: #4CAF50;
    color: white;
}

/* Checkout Form Styles */
.checkout-layout {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.checkout-form, .order-summary {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], 
input[type="tel"], 
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkout-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.checkout-form button:hover {
    background-color: #45a049;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

html {
    scroll-behavior: smooth;
}

.payment-methods {
    display: none; /* Make sure payment section is visible */
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.payment-method {
    margin-bottom: 10px;
}

.payment-method label {
    margin-left: 10px;
}

.payment-method img {
    vertical-align: middle;
    margin-right: 5px;
}

button.use-payment {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button.use-payment:hover {
    background-color: #45a049;
}


/* Customer Support Styles */
.customer-support {
    width: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#support-btn {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#support-btn:hover {
    background-color: #007B9A;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .checkout-layout {
        flex-direction: column;
    }
}